<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.study.shenxing.caesar">

    <uses-sdk
        android:minSdkVersion="18"
        tools:overrideLibrary="android.support.test.uiautomator.v18"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 读取电话状态 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.FragmentDemoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".share.ShareDataActivity"
            android:label="@string/title_activity_share_data">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".graphic.MatrixDemo"
            android:label="@string/title_activity_matrix_demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".roundimage.RoundImageActivity"
            android:label="@string/title_activity_round_image">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activitylifecycle.ActivityA"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".activitylifecycle.ActivityB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".activitylifecycle.ActivityC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activitylifecycle.DialogActivity"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".stickylistview.StickyListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".unsorted.ThemeWallpaperActivity"
            android:label="@string/title_activity_theme_wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".graphic.animation.CusAnimationActivity"
            android:label="@string/title_activity_cus_animation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".unsorted.TempActivity"
            android:label="@string/title_activity_temp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".customview.CusFlowLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".waveview.WaveViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".savedata.SaveDataActivity"
            android:label="@string/title_activity_save_data">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".Hacks50Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".practise50hacks.Hack2Activity"
            android:label="@string/title_activity_hack2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".practise.SharePreferencesActivity"
            android:label="@string/title_activity_share_preferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".hyperbolicspiral.HyperbolicAnimationActivity"
            android:label="@string/title_activity_hyperbolic_animation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".materialloadingprogressbar.MaterialProgressActivity"
            android:label="@string/title_activity_material_progress"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".test.TestActivity"
            android:label="@string/title_activity_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".test.TestActivity2"
            android:label="@string/title_activity_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".viewflip.ViewFlipperActivity"
            android:label="@string/title_activity_view_flipper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".windowmanager.WindowManagerActivity"
            android:label="@string/title_activity_window_manager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>

        <service
            android:name=".windowmanager.WindowManagerService"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".shader.ShaderActivity"
            android:label="@string/title_activity_shader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".work.ListDemoActivity"
            android:label="@string/title_activity_list_demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".database.DatabaseDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".commonintent.IntentCommonUseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".listviewdemo.ListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".others.ScrollAndListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".network.NetWorkActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <!--
            <activity
            android:name=".chargelock.activity.PowerSavingActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.gau.go.launcherex.gowidget.gopowermaster.lockscreen"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        -->


        <!-- <service android:name=".chargelock.ChargeLockService" /> -->

        <activity android:name=".xmlparse.XmlParserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".algorithm.AlgorithmDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".work.GridAnimActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".measuretest.MeasureTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".recycleview.RecyclerViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".meterialdesigntest.MeterialDesignDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".transition.SceneTransitionsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".scalepivot.ScalePivotActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".eventbusdemo.EventBusDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>

        <service
            android:name=".binder.AidlService"
            android:process=":music"/>

        <activity android:name=".binder.AidlTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".work.BatteryMainPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".network.VolleyTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".permission.PermissionTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".recycleview.RecyclerViewActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".customdrawable.CustomDrawableActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".mvp.TaskActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".statusheight.StatusHeightActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>

        <service
            android:name=".accessibility.MyAccessibilityService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>

        <activity android:name=".systemui.SystemUiActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".interpolator.InterpolatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".trafficstat.TrafficStatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".desktopanimation.DesktopIconAnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".desktopanimation.DesktopIconLauncherActivity"
            android:theme="@style/desk_top_icon_transparent">

            <!-- 如果没有这个filter，那么指向该activity的快捷方式无法跳转 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".progressbar.ProgressBarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".notification.NotificationManageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".hellojni.JniTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".vectoranimation.VectorAniamtionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
        <activity android:name=".threadpoolexcutor.ThreadPoolExecutorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.STUDY_DEMO"/>
            </intent-filter>
        </activity>
    </application>

</manifest>