<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.shenxing.caesar" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.FragmentDemoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".share.ShareDataActivity"
            android:label="@string/title_activity_share_data" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphic.MatrixDemo"
            android:label="@string/title_activity_matrix_demo"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".roundimage.RoundImageActivity"
            android:label="@string/title_activity_round_image" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitylifecycle.ActivityA"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>
        <activity android:name=".activitylifecycle.ActivityB" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>
        <activity android:name=".activitylifecycle.ActivityC" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitylifecycle.DialogActivity"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>
        <activity android:name=".stickylistview.StickyListViewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".unsorted.ThemeWallpaperActivity"
            android:label="@string/title_activity_theme_wallpaper" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphic.animation.CusAnimationActivity"
            android:label="@string/title_activity_cus_animation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".unsorted.TempActivity"
            android:label="@string/title_activity_temp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>

        <activity
            android:name=".customview.CusFlowLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>

        <activity
            android:name=".waveview.WaveViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.STUDY_DEMO" />
            </intent-filter>
        </activity>
    </application>

</manifest>
